*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
	text-decoration: none;
	color: white;
}
html, body{
    height: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5vh;
    margin: 0;
    position: relative; 
    overflow-x: hidden;

}
@font-face {
    font-family: mimimi1;
    src: url("FoglihtenNo06_076.otf");
}
@font-face {
    font-family: mimimi2;
    src: url("Comfortaa-VariableFont_wght.ttf");
}
@font-face {
    font-family: mimimi3;
    src: url("Sunday-Regular.otf");
}
@font-face {
    font-family: mimimi4;
    src: url("Roboto-Thin.ttf");
}
@font-face {
    font-family: mimimi5;
    src: url("OpenSans-Light.ttf");
}
.n1{
    position: absolute;
    top: 175vw;
    left: -16vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.n2{
    position: absolute;
    top: 181vw;
    left: 11.2vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3vw 1vw ;
    transition: 0.3s;
    
}
.n2:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.n3{
    position: absolute;
    top: -3.5vw;
    left: 0.8vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.n4{
    position: absolute;
    top: 181vw;
    left: 41vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    
}
.n4:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.n5{
    position: absolute;
    top: -3.5vw;
    left: 1vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.n01{
    position: absolute;
    margin-top: 181vw;
    margin-left: 65vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    white-space: nowrap;
    
}
.n6:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}

.black{
    position: absolute;
    height: 43.5vw;
    width: 50%;
    left: 25.1vw;
    top: 5vw;
    filter: alpha(opacity=50);
    opacity: 50;
}
.a1111{
    position: absolute;
    height: 23vw;
    width:20.2%;
    left: 9.5vw;
    top: 152vw;
    filter: opacity(80%);
}
.a1111a{
    position: absolute;
    height: 23vw;
    width:20.2%;
    left: 39.5vw;
    top: 152vw;
    filter: opacity(80%);
}.a1111s{
    position: absolute;
    height: 23vw;
    width:20.2%;
    left: 69.5vw;
    top: 152vw;
    filter: opacity(80%);

}
.blackK{
    position: absolute;
    height: 5.1vw;
    width: 100%;
  
}
.chel{
    position: absolute;
    height: 43.5vw;
    width: 100%;
    top: 5vw;
    opacity: 5;
    filter: brightness(60%)
}
.sawhite{
    position: absolute;
    height: 0.1vw;
    width: 100%;    
    top: 5.2vw;
    filter: brightness(30%)
} 
.nn20{
    position: absolute;
    top: 105vw;
    left: -38vw;
    color: #ffffff;
    font-size:1.7vw;
    font-family: mimimi3;
    letter-spacing: 0.4vw;
}
.aikona{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 117.5vw;
    left: 29.5vw;
}
.aikona2{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 117.5vw;
    left: 32.5vw;
}
.aikona3{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 117.5vw;
    left: 35.5vw;
}
.aikona4{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 117.5vw;
    left: 38.5vw;
}
.nov1{
    position: absolute;
    top: 11.8vw;
    left: -6.3vw;
    color: #000000;
    font-size:2vw;
    font-family: mimimi2;
    letter-spacing: 0.3vw;
} 
.img3{
    position: absolute;
    height: 81.5vw;
    width: 100%;    
    top: 15vw;
    filter: opacity(80%)
}
.img4{
    position: absolute;
    height: 78vw;
    width: 89%;    
    top: 16.5vw;
    left: 6vw;
    
}
.qq1{
    position: absolute;
    top: 110.5vw;
    left: -38vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.qq2{
    position: absolute;
    top: 113.5vw;
    left: -38vw;
    color: #d2d2d2;
    font-size: 1.1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.qq3{
    position: absolute;
    top: 115.5vw;
    left: -38vw;
    color: #d2d2d2;
    font-size: 1.1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.qq4{
    position: absolute;
    top: 117.5vw;
    left: -38vw;
    color: #d2d2d2;
    font-size: 1.1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.qq5{
    position: absolute;
    top: 123vw;
    left: -15.3vw;
    color: #d2d2d2;
    font-size: 0.8vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
   white-space: nowrap;
}
.qq6{
    position: absolute;
    top: 110.5vw;
    left: -16.1vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.qq7{
    position: absolute;
    top: 113.5vw;
    left: -16.1vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.qq8{
    position: absolute;
    top: 110.5vw;
    left: 11vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.qq9{
    position: absolute;
    top: 113.5vw;
    left: 11vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
   white-space: nowrap;
}
.qq10{
    position: absolute;
    top: 110.5vw;
    left: 35vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.qq11{
    position: absolute;
    top: 113.5vw;
    left: 35vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.qq12{
    position: absolute;
    top: 115.5vw;
    left: 35vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.qq13{
    position: absolute;
    top: 117.5vw;
    left: 35vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
   white-space: nowrap;
}
.nowspec1{
    position: absolute;
    height: 22vw;
    width: 19vw; 
    margin-top: 21vw;
    margin-left: 70.6vw;
}  
.nowspec2{
    position: absolute;
    height: 22vw;
    width: 19vw;    
    margin-top: 21vw;
    margin-left: 10vw;
}  
.nowspec3{
    position: absolute;
    height: 22vw;
    width: 19vw;
    margin-top: 21vw;
    margin-left: 40.6vw;
}   
.nowspec4{
    position: absolute;
    height: 22vw;
    width: 19vw; 
    margin-top: 60vw;
    margin-left: 70.6vw;
}  
.nowspec5{
    position: absolute;
    height: 22vw;
    width: 19vw;    
    margin-top: 60vw;
    margin-left: 10vw;
}  
.nowspec6{
    position: absolute;
    height: 22vw;
    width: 19vw;
    margin-top: 60vw;
    margin-left: 40.6vw;
}   
.nono{
    position: absolute;
    margin-top: 41vw;
    margin-left: -34.6vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;
   
}
.nono2{
    position: absolute;
    margin-top: 41vw;
    margin-left: -5.7vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;  
}
.nono20{
    position: absolute;
    margin-top: 41vw;
    margin-left: 5.9vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;  
}
.nono3{
    position: absolute;
    margin-top: 41vw;
    margin-left: 29.6vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2; 
    
}
.nono4{
    position: absolute;
    margin-top: 80vw;
    margin-left: -30.4vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;
   
}
.nono5{
    position: absolute;
    margin-top: 80vw;
    margin-left: -7.6vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;  
    white-space: nowrap;
}
.nono6{
    position: absolute;
    margin-top: 80vw;
    margin-left: 27.9vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2; 
    
}
.nn1{
    position: absolute;
    top: 45.5vw;
    left: -33.6vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
}
.nn2{
    position: absolute;
    top: 10.5vw;
    left: -20.6vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    
}
.nn2:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.nn3{
    position: absolute;
    top: 45.5vw;
    left: -2.8vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.nn4{
    position: absolute;
    top: 48.5vw;
    left: -4.9vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    white-space: nowrap;
}
.nn4:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.nn5{
    position: absolute;
    top: 45.5vw;
    left: 27.4vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.nn6{
    position: absolute;
    top: 48.5vw;
    left: 25.2vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    white-space: nowrap;
    
}
.nn6:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.nn7{
    position: absolute;
    top: 84.5vw;
    left: -33.6vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
}
.nn8{
    position: absolute;
    top: 87.5vw;
    left: -35.6vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    
}
.nn8:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.nn9{
    position: absolute;
    top: 84.5vw;
    left: -2.8vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.nn10{
    position: absolute;
    top: 87.5vw;
    left: -5vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    white-space: nowrap;
    
}
.nn10:hover{
    background-color: rgb(201, 195, 189);
color:rgb(0, 0, 0)
}
.nn11{
    position: absolute;
    top: 84.5vw;
    left: 27.4vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi5;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}
.nn12{
    position: absolute;
    top: 87.5vw;
    left: 25.2vw;
    color: #454343;
    font-size:1.3vw;
    font-family: mimimi2;
    letter-spacing: 0.1vw;
    border: 0.1vw solid rgb(164, 161, 161); 
    padding: 1vw 3.3vw 1vw ;
    transition: 0.3s;
    white-space: nowrap;
    
}
.nn12:hover{
    background-color: rgb(56, 51, 47);
color:rgb(0, 0, 0)
}
.nowblackfon1112{
    position: absolute;
    height: 21.5vw;
    width: 100%;    
    top: 105vw;
    
    filter: opacity(83%);
}  
.t1{
    position: absolute;
    top: 16vw;
    left: 39vw;
    color: #ffffff;
    font-size:2.5vw;
    font-family: mimimi1;
    letter-spacing: 1.4vw;
}
.t102{
    position: absolute;
    top: 20vw;
    left: 32.3vw;
    color: #ffffff;
    font-size:2.5vw;
    font-family: mimimi1;
    letter-spacing: 1.4vw;
}
.t103{
    position: absolute;
    top: 24vw;
    left: 40vw;
    color: #ffffff;
    font-size:2.5vw;
    font-family: mimimi1;
    letter-spacing: 1.4vw;
}
.t2{
    position: absolute;
    top: 29.3vw;
    left: 42.6vw;
    color: #ffffff;
    font-size:1.1vw;
    font-family: mimimi2;
    letter-spacing: 0.5vw;
}
.t4{
    position: absolute;
    top: 2.2vw;
    left: 4vw;
    color: #ffffff;
    font-size: 0.8vw;
    font-family: mimimi2;
    letter-spacing: 0.4vw;
}
.t402{
    position: absolute;
    top: 2.2vw;
    left: 69.3vw;
    color: #ffffff;
    font-size:0.8vw;
    font-family: mimimi2;
    letter-spacing: 0.4vw;
}
.t403{
    position: absolute;
    top: 2.2vw;
    left: 88vw;
    color: #ffffff;
    font-size:0.8vw;
    font-family: mimimi2;
    letter-spacing: 0.4vw;
}
.t401{
    position: absolute;
    top: 2.2vw;
    left: 25vw;
    color: #ffffff;
    font-size:0.8vw;
    font-family: mimimi2;
    letter-spacing: 0.4vw;
}
.t4010{
    position: absolute;
    top: 2.2vw;
    left: 25vw;
    color: #ffffff;
    font-size:0.8vw;
    font-family: mimimi2;
    letter-spacing: 0.4vw;
}
.t5{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 35.8vw;
    font-size: 1.8vw;
    top: 34vw;
    text-decoration: none;
    border: 0.1vw solid rgb(255, 255, 255); 
    padding: 1vw 5vw 1vw ;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
.t5:hover{
    background-color: rgb(201, 195, 189);
color:black
}
.t3{
    position: absolute;
    top: 1.5vw;
    left: 45.6vw;
    color: #ffffff;
    font-size:1.7vw;
    font-family: mimimi3;
    letter-spacing: 0.4vw;
}
.t3{
    position: absolute;
    top: 1.5vw;
    left: 45.6vw;
    color: #ffffff;
    font-size:1.7vw;
    font-family: mimimi3;
    letter-spacing: 0.4vw;
}
.t33{
    position: absolute;
    top: 286.8vw;
    left: 7.5vw;
    color: #ffffff;
    font-size:1.7vw;
    font-family: mimimi3;
    letter-spacing: 0.4vw;
}
.poli1{
    position: absolute;
    height: 0.2vw;
    width: 100%;
    top: 93vw;
    left: 0.4vw;

}

.t10{
    position: absolute;
    top: 49vw;
    left: -84vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t10a{
    position: absolute;
    top: 51vw;
    left: -84vw;
    color: #000000;
    font-size:1.1vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.pol{
    position: absolute;
    height: 6.2vw;
    width: 100%;
    top: 50.4vw;  
    left: 0;
}
.t11{
    position: absolute;
    top: 49vw;
    left: -58vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t11a{
    position: absolute;
    top: 51vw;
    left: -58vw;
    color: #000000;
    font-size:1.1vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t12{
    position: absolute;
    top: 49vw;
    left: -33vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t12a{
    position: absolute;
    top: 52.5vw;
    left: -33vw;
    color: #000000;
    font-size:1.1vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t13{
    position: absolute;
    top: 49vw;
    left: -9vw;
    color: #000000;
    font-size:1.3vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t13a{
    position: absolute;
    top: 51vw;
    left: -9vw;
    color: #000000;
    font-size:1.1vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t13aaa{
    position: absolute;
    top: 51vw;
    left: -3.6vw;
    color: #000000;
    font-size:1.1vw;
    font-family: mimimi2;
   letter-spacing: -0.0vw;
}
.t14{
    position: absolute;
    top: 62vw;
    left: -54.2vw;
    color: #000000;
    font-size:2.2vw;
    font-family: mimimi2;
   letter-spacing: 0.5vw;
}
.t15{
    position: absolute;
    top: 69.5vw;
    left: -83.5vw;
    color: #000000;
    font-size: 1.8vw;
    font-family: mimimi2;
   letter-spacing: 0.1vw;
}
.t15a{
    position: absolute;
    top: 74.8vw;
    left: -83.5vw;
    color: #000000;
    font-size: 1.1vw;
    font-family: mimimi2;
   letter-spacing: 0vw;
}
.t16{
    position: absolute;
    top: 83vw;
    left: -25vw;
    color: #000000;
    font-size: 1.8vw;
    font-family: mimimi2;
   letter-spacing: 0.1vw;
}
.t16a{
    position: absolute;
    top: 89vw;
    left: -25vw;
    color: #000000;
    font-size: 1.1vw;
    font-family: mimimi2;
   letter-spacing: 0vw;
}
.t16aaa{
    position: absolute;
    top: 85vw;
    left: -15.8vw;
    color: #000000;
    font-size: 1.8vw;
    font-family: mimimi2;
   letter-spacing: 0vw;
}
.t17{
    position: absolute;
    top: 69.5vw;
    left: -25vw;
    color: #000000;
    font-size: 1.8vw;
    font-family: mimimi2;
   letter-spacing: 0.1vw;
}
.t17a{
    position: absolute;
    top: 74.8vw;
    left: -25vw;
    color: #000000;
    font-size: 1vw;
    font-family: mimimi2;
   letter-spacing: 0vw;
}
.t17aa{
    position: absolute;
    top: 75.8vw;
    left: 5.8vw;
    color: #000000;
    font-size: 1vw;
    font-family: mimimi2;
   letter-spacing: 0vw;
}
.t18{
    position: absolute;
    top: 83vw;
    left: -83.5vw;
    color: #000000;
    font-size: 1.8vw;
    font-family: mimimi2;
   letter-spacing: 0.1vw;
}
.t18a{
    position: absolute;
    top: 88.8vw;
    left: -83.5vw;
    color: #000000;
    font-size: 1.1vw;
    font-family: mimimi2;
   letter-spacing: 0vw;
}
.pol1{
    position: absolute;
    height: 0.01vw;
    width: 32%;
    top: 65.5vw; 
    left: 0vw; 
}
.pol2{
    position: absolute;
    height: 0.01vw;
    width: 32%;
    top: 65.5vw;  
    left: 67.8vw;
}
.fon5{
    position: absolute;
    height: 28vw;
    width: 100%;
    top: 68vw;  
    opacity: 5;
    filter: opacity(50%);
}
.pol3{
    position: absolute;
    height: 0.01vw;
    width: 100%;
    top: 99vw; 
    left: 0vw; 
}
.pol10{
    position: absolute;
    height: 0.01vw;
    width: 100%;
    top: 195vw; 
    
}
.tig{
    position: absolute;
    top: 81.9vw;
    left: -86.5vw;
  font-size: 2.8vw;
color: #000000;
font-weight: 580;
}
.tg2{
    position: absolute;
    top: 81.9vw;
    left: -28vw;
  font-size: 2.8vw;
color: #000000;
font-weight: 580;
}
.tg3{
    position: absolute;
    top: 68.3vw;
    left: -28vw;
  font-size: 2.8vw;
color: #000000;
font-weight: 580;
}
.tg4{
    position: absolute;
    top: 68.3vw;
    left: -86.5vw;
  font-size: 2.8vw;
color: #000000;
font-weight: 580;

}
.foto{
    position: absolute;
    height: 28vw;
    width: 22.5%;    
    top: 245.8vw;
    left: 3.6vw;
}
.pa1{
    position: absolute;
    height: 0.01vw;
    width: 87%;    
    top: 241.9vw;
    left: 12.9vw;
}
.pa2{
    position: absolute;
    height: 0.01vw;
    width: 2.6%;    
    top: 241.9vw;
    left: 0vw;
}

.paaa{
    position: absolute;
    height: 28vw;
    width: 100%;    
    top: 245.8vw;   
}

.o1{
    position: absolute;
    top: 238.5vw;
    left: -84.5vw;
  font-size: 2vw;
color: #000000;
font-family: mimimi2;
}
.o2{
    position: absolute;
    top: 246.5vw;
    left: -59.5vw;
  font-size: 1.2vw;
color: #000000;
font-family: mimimi2;
letter-spacing: 0vw;
}
.white11{
    position: absolute;
    height: 0.01vw;
    width: 6vw;
    top: 116.5vw;
    left: 55.9vw;
}
.tex1{
    position: absolute;
    top: 144.2vw;
    left: -42.2vw;
    color: #000000;
    font-size:2vw;
    font-family: mimimi2;
    
}
.p{
    position: absolute;
    height: 25vw;
    width: 20.5vw;
    margin-top: 152vw;   
    margin-left: 9.3vw;
}
.t601{
    position: absolute;
    top: -74vw;
    left: -24.5vw;
    color: #000000;
    font-size: 2vw;
    font-family: mimimi2;
    
}
.blackfon{
    position: absolute;
    height: 28.2vw;
    width: 93%;    
    top: 111vw;
    left: 3.6vw;
    filter: brightness(20%)
}  
.blackfon2{
    position: absolute;
    height: 35vw;
    width: 100%;    
    top: 198.5vw;
    margin-left: ;
    filter: brightness(20%)
}  
.blackfon1112{
    position: absolute;
    height: 21.5vw;
    width: 100%;    
    top: 285vw;
    
    filter: opacity(83%);
}  
.spec{
    position: absolute;
    height: 22vw;
    width: 19vw; 
    margin-top: 152vw;
    margin-left: 70vw;
}  
.spec2{
    position: absolute;
    height: 22vw;
    width: 19vw;    
    margin-top: 152vw;
    margin-left: 10vw;
}  
.spec3{
    position: absolute;
    height: 22vw;
    width: 19vw;
    margin-top: 152vw;
    margin-left: 40vw;
}  
.q1{
    position: absolute;
    top: 291.5vw;
    left: 80vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.q2{
    position: absolute;
    top: 294.5vw;
    left: 80.5vw;
    color: #d2d2d2;
    font-size: 1.1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q3{
    position: absolute;
    top: 294.5vw;
    left: 80.5vw;
    color: #d2d2d2;
    font-size: 1.1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q4{
    position: absolute;
    top: 296.5vw;
    left:80.5vw;
    color: #d2d2d2;
    font-size: 1.1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q5{
    position: absolute;
    top: 304.3vw;
    left: 32.9vw;
    color: #d2d2d2;
    font-size: 0.8vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q6{
    position: absolute;
    top: 291.5vw;
    left: 56.5vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.q7{
    position: absolute;
    top: 294.5vw;
    left: 56.5vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.q8{
    position: absolute;
    top: 291.5vw;
    left: 29.5vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.q9{
    position: absolute;
    top: 294.5vw;
    left: 29.5vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q10{
    position: absolute;
    top: 291.5vw;
    left: 6.5vw;
    color: #ffffff;
    font-size: 1.2vw;
    font-family: mimimi5;
   letter-spacing: 0.2vw;
}
.q11{
    position: absolute;
    top: 298.5vw;
    left: 6.5vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q12{
    position: absolute;
    top: 294.5vw;
    left: 6.5vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.q13{
    position: absolute;
    top: 296.5vw;
    left: 6.5vw;
    color: #d2d2d2;
    font-size: 1vw;
    font-family: mimimi5;
   letter-spacing: 0.1vw;
}
.ikona{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 299.5vw;
    left: 29.5vw;
}
.ikona2{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 299.5vw;
    left: 32.5vw;
}
.ikona3{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 299.5vw;
    left: 35.5vw;
}
.ikona4{
    position: absolute;
    height: 2vw;
    width: 2vw;
    top: 299.5vw;
    left: 38.5vw;
}
.t7{
    position: absolute;
    margin-top: -64.5vw;
    left: -57.6vw;
    color: #ffffff;
    font-size: 0.8vw;
    font-family: mimimi4;
    text-align: center;
    letter-spacing: 0.3vw;
}
.t8{
    position: absolute;
    margin-top: -65.5vw;
    left: -25.4vw;
    color: #ffffff;
    font-size: 0.8vw;
    font-family: mimimi4;
    text-align: center;
    letter-spacing: 0.3vw;
}
.t9{
    position: absolute;
    margin-top: -64.5vw;
    left: 8vw;
    color: #ffffff;
    font-size: 0.8vw;
    font-family: mimimi4;
    text-align: center;
    letter-spacing: 0.3vw;
}
.t701{
    position: absolute;
    margin-top: -68.2vw;
    left: -51.5vw;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: mimimi5;
    text-align: center;
}
.t801{
    position: absolute;
    margin-top: -68.2vw;
    left: -19.2vw;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: mimimi5;
    text-align: center;
}
.t901{
    position: absolute;
    margin-top: -68.2vw;
    left: 15vw;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: mimimi5;
    text-align: center;
}
.white0{
    position: absolute;
    height: 0.01vw;
    width: 6.02vw;
    top: 116.5vw;
    left: 22.4vw;
}
.white1{
    position: absolute;
    height: 0.01vw;
    width: 6vw;
    top: 116.5vw;
    left: 5.4vw;
}
.white2{
    position: absolute;
    height: 0.01vw;
    width: 23.02vw;
    top: 133.5vw;
    left: 5.4vw;
}
.white00{
    position: absolute;
    height: 0.01vw;
    width: 6.02vw;
    top: 116.5vw;
    left: 37.8vw;
}
.white11{
    position: absolute;
    height: 0.01vw;
    width: 6vw;
    top: 116.5vw;
    left: 55.9vw;
}
.white22{
    position: absolute;
    height: 0.01vw;
    width: 24.1vw;
    top: 133.5vw;
    left: 37.8vw;
}
.white000{
    position: absolute;
    height: 0.01vw;
    width: 7.3vw;
    top: 116.5vw;
    left: 70.9vw;
}
.white111{
    position: absolute;
    height: 0.01vw;
    width: 7.3vw;
    top: 116.5vw;
    left: 86.5vw;
}
.white222{
    position: absolute;
    height: 0.01vw;
    width: 22.9vw;
    top: 133.5vw;
    left: 70.9vw;
}
.w1{
    position: absolute;
    height: 0.06vw;
    width: 44.4%;
    margin-top: 147.6vw;
  
    filter: opacity(80%)
}
.w2{
    position: absolute;
    height: 0.06vw;
    width: 44.4%;
    margin-top: 147.6vw;
    margin-left: 55.3vw;
    filter: opacity(80%)
}
.w3{
    position: absolute;
    height: 0.01vw;
    width: 100%;
    margin-top: 195vw;
   
    filter: opacity(80%)
}
.w4{
    position: absolute;
    height: 40.8vw;
    width:0.01vw;
    margin-top: 147.6vw;
    margin-left: 3vw;
    filter: opacity(40%)
}
.w5{
    position: absolute;
    height: 40.8vw;
    width:0.01vw;
    margin-top: 147.6vw;
    margin-left: 96.4vw;
    filter: opacity(40%)
}
.ono{
    position: absolute;
    margin-top: -8.5vw;
    margin-left: -57.3vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;
   
}
.ono2{
    position: absolute;
    margin-top: -8.5vw;
    margin-left: -29vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2;  
    white-space: nowrap;
}
.ono3{
    position: absolute;
    margin-top: -8.5vw;
    margin-left: 6vw;
    color: #000000;
    font-size: 1.5vw;
    letter-spacing: -0.1vw;
    font-family: mimimi2; 
}
.ono4{
    position: absolute;
    margin-top: 189.5vw;
    margin-left: 32vw;
    color: #000000;
    font-size: 1.6vw;
    letter-spacing: 0.2vw;
    font-family: mimimi2;
    border: 0.1vw solid rgb(143, 142, 142); 
    padding: 1vw 5vw 1vw ;
    transition: 0.3s;
}
.ono4:hover{
background-color: rgb(201, 195, 189);
color:black
}
.fon3{
    position: absolute;
    height:47vw;
    width: 100%;
    top: 144.5vw;  
    left: 0;
}
.pp1 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 64vw;
    font-size: 2.2vw;
    top:   201vw;
    font-family: mimimi5;
    letter-spacing: 1vw;
    font-weight: 599;
}  
.pik{
    position: absolute;
    left: 64vw;
    top: 206.9vw;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: mimimi4;
    letter-spacing: 0vw;
}
.buttons{
    position: absolute;
    left: 64vw;
    top: 223vw;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    border-radius: 2vw;
    border: #000000;
    padding: 0.5vw 5vw 0.5vw;
    background-color: rgb(255, 255, 255); 
}
.pik1{
    position: absolute;
    left: 64vw;
    top: 213.5vw;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: mimimi4;
}
.buttons1{
    position: absolute;
    left: 64vw;
    top: 209.5vw;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    border-radius: 2vw;
    border: #000000;
   
    padding: 0.5vw 5vw 0.5vw;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);    
}
.pik2{
    position: absolute;
    left: 64vw;
    top: 220vw;
    color: #ffffff;
    font-size: 1.6vw;
    font-family: mimimi4;
}
.buttons2{
    position: absolute;
    left: 64vw;
    top:216vw;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    border-radius: 2vw;
    border: #000000;    
    padding: 0.5vw 5vw 0.5vw;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgb(255, 255, 255); 
}
.p1 {
    position: absolute;
  top: 212vw;
  left: 5vw;
  font-size: 1.5vw;
  font-family: mimimi4;
  letter-spacing: 0.3vw;
}
.p22 {
    position: absolute;
  top: 201vw;
  left: 5vw;
  font-size: 2.6vw;
  color: #fff7f7;
  font-family: mimimi4;
}
label > input[type="checkbox"] {
    display: none;
  }
  label > span:nth-child(3),
  input:checked ~ span:nth-child(2) {
    display: none;
  }
  label > span:nth-child(2),
  input:checked ~ span:nth-child(3) {
    display: inline-block;
    font-size: 1.4vw;
    top: 227.5vw;
    left: 64vw;
  font-family: mimimi4;
  position: absolute;
  letter-spacing: 0.2vw;

  }
  label > span {font-size: 4em; font-weight: bold; cursor: pointer;}
  label > span:nth-child(2) {color: rgb(255, 255, 255);}
  label > span:nth-child(3) {color: rgb(228, 219, 187)}
