  
@font-face {
    font-family: mimimi;
    src: url("ZnikomitNo25.otf");

}
@font-face {
    font-family: mimimi1;
    src: url("Roboto-Light.ttf");

}
.text1 {
    top: 22px;
    font-size: 23px;
    left: 671px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text2 {
    top:22px;
    font-size: 23px;
    left: 865px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
}
.text3 {
    top: 22px;
    font-size: 23px;
    left: 1050px;
    color: rgb(255, 255, 255);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
.text4 {
    top: 22px;
    font-size: 23px;
    left: 1265px;
    color: #ffffff;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;

}
.text5 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 620PX;
    font-size: 150px;
    top: 140px;
    font-family: mimimi;
    letter-spacing: 14px;
   
}
.text6 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 630PX;
    font-size:20px;
    top: 455px;
    font-family: serif;
    letter-spacing: 8px;
     
}
.fon{
    position: absolute;
    width: 2000px;
    height: 725px;
    left: 1px;
    top: 70px;
    background: #000000;
     opacity: 5;
     filter: brightness(50%)
     
}


.fon2{
 position: absolute;
 left: 1px;
opacity: 1;
filter: alpha(opacity=70);
height: 72px;
width: 2000px;
top: -1px;
box-shadow: 0px 6px 15px 0px rgb(29, 18, 15)


}
.text7 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1392PX;
    font-size:38px;
    top: 435px;    
}
.white{
    position: absolute;
    width: 955px;
    height: 380px;
    left: 1px;
    top: 885px;
    opacity: 5;
     filter: brightness(90%);
     box-shadow: 0px 6px 15px 0px rgb(101, 71, 63)
}
.white2{
    position: absolute;
    width: 955px;
    height: 380px;
    left: 1050px;
    top: 1326px;
    opacity: 5;
     filter: brightness(90%);
     box-shadow: 0px 6px 15px 0px rgb(101, 71, 63)
}
.tp{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 1px;
    top: 848px;
   
}
.tpp{
    position: absolute;
    width: 450px;
    height: 450px;
    left: 1555px;
    top: 1290px;
}
.tpp1{
    position: absolute;
    width: 2500px;
    height: 2050px;
    left: -500px;
    top: 1800px;
}
.white3{
    position: absolute;
    width: 1590px;
    height: 1920px;
    left: 200px;
    top: 1900px;
   
}
.white4{
    position: absolute;
    width: 190Px;
    height: 270px;
    left: -50px;
    top: -110px;
    opacity: 5;
    filter: brightness(90%)
}
.text9 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 815PX;
    font-size: 50px;
    top: 1770px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 8px;
    
     
}
.text8 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 462PX;
    font-size: 23px;
    top: 915px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 1px 1px 4px rgb(101, 74, 74);
     
}
.text10 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top: 2330px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
     
}
.flow{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 275px;
    top:  1940px;
    display: inline-block;
    overflow: hidden;
}

.flow1{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 800px;
    top:  1940px;
   
}
.flow2{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1320px;
    top:  1940px;
   
}
.text11 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  2330px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
     
}
.text12 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 1320PX;
    font-size: 22px;
    top:  2330px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
     
}
.text13 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1070PX;
    font-size: 23px;
    top: 1365px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 1px 1px 4px rgb(101, 74, 74);
     
}
.text14 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top:  2390px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text15 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  2390px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text16 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 1320PX;
    font-size: 22px;
    top:  2390px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.flow3{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 275px;
    top:  2550px;
    
}
.flow4{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 800px;
    top:  2550px;
    
}
.flow5{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1320px;
    top:  2550px;
    
}
.text17 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top:  2950px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text18 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  2950px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text19 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 1320PX;
    font-size: 22px;
    top:  2950px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text20 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top:  3010px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text21 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  3010px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text22 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 1315PX;
    font-size: 22px;
    top:  3010px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.flow6{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 275px;
    top:  3150px;
    
}
.flow7{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 800px;
    top:  3150px;
    
}
.flow8{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1320px;
    top:  3150px;
    
}
.text23 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top: 3550px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text24 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top: 3550px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text25 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 1320PX;
    font-size: 22px;
    top: 3550px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text26 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top:  3610px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text27 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  3610px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text28 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 1320PX;
    font-size: 22px;
    top:  3610px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.flow:hover{
    scale: 1.1;
    transition: 2s;
}
.flow1:hover{
    scale: 1.1;
    transition: 2s;
}
.flow2:hover{
    scale: 1.1;
    transition: 2s;
}
.flow3:hover{
    scale: 1.1;
    transition: 2s;
}
.flow4:hover{
    scale: 1.1;
    transition: 2s;
}
.flow5:hover{
    scale: 1.1;
    transition: 2s;
}
.flow6:hover{
    scale: 1.1;
    transition: 2s;
}
.flow7:hover{
    scale: 1.1;
    transition: 2s;
}.flow8:hover{
    scale: 1.1;
    transition: 2s;
}
.white5{
    position: absolute;
    width: 2052px;
    height: 550px;
    left: -50px;
    top: 3890px;
    opacity: 5;
    filter: brightness(88%)
    
}
.white6{
    position: absolute;
    width: 2052px;
    height: 85px;
    left: -50px;
    top: 4355px;
}
.text29 {
    color: rgb(255, 243, 156);
    position: absolute;
    left: 390PX;
    font-size: 25px;
    top:  3940px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    text-decoration: underline;
}
.text30 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 22px;
    top:  4180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text31 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 22px;
    top:  4018px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text32 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 22px;
    top:  4100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text33 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 20px;
    top:  4030px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.white7{
    position: absolute;
    width: 400Px;
    height: 450px;
    left: -10px;
    top: 3785px;
   
}
.text36 {
    color:rgb(255, 255, 255); 
    position: absolute;
    left: 35PX;
    font-size: 23px;
    top:  4120px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    border: 3px solid rgb(227, 227, 142); padding: 15px 30px 15px;
    border-radius: 12%;
    text-decoration: none;
}
.text34 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 20px;
    top:  4110px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text35 {
    color: rgb(255, 243, 156);
    position: absolute;
    left: 1150PX;
    font-size: 25px;
    top:  3965px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
 
}
.text37 {
    color: rgb(255, 243, 156);
    position: absolute;
    left: 750PX;
    font-size: 25px;
    top:  3965px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
}
.text38 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 750PX;
    font-size: 20px;
    top:  4000px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text39 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 750PX;
    font-size: 20px;
    top:  4050px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text40 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 500PX;
    font-size: 23px;
    top:  3625px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);

}
.text41 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1030PX;
    font-size: 23px;
    top:  3625px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text42 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1550PX;
    font-size: 23px;
    top:  3625px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text43 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 500PX;
    font-size: 23px;
    top:  3025px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text44 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1030PX;
    font-size: 23px;
    top:   3025px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text45 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1550PX;
    font-size: 23px;
    top:   3025px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text46 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 500PX;
    font-size: 23px;
    top:  2405px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text47 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1030PX;
    font-size: 23px;
    top:   2405px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text48 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1550PX;
    font-size: 23px;
    top:  2405px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
    
}
.white5{
    position: absolute;
    width: 465px;
    height: 460px;
    left: -50px;
    top: 1280px;
    opacity: 5;
    filter: brightness(88%);
    filter: brightness(90%);
    box-shadow: 0px 6px 15px 0px rgb(101, 71, 63)
}
.white55{
    position: absolute;
    width: 410px;
    height: 480px;
    left: 1595px;
    top: 850px;
    opacity: 5;
    filter: brightness(88%);
    filter: brightness(90%);
    box-shadow: 0px 6px 15px 0px rgb(101, 71, 63)
}
.text40:hover{
    scale: 0.9;
    transition: 2s;
}
.text41:hover{
    scale: 0.9;
    transition: 2s;
}
.text42:hover{
    scale: 0.9;
    transition: 2s;
}
.text43:hover{
    scale: 0.9;
    transition: 2s;
}
.text44:hover{
    scale: 0.9;
    transition: 2s;
}
.text45:hover{
    scale: 0.9;
    transition: 2s;
}
.text46:hover{
    scale: 0.9;
    transition: 2s;
}
.text47:hover{
    scale: 0.9;
    transition: 2s;
}
.text48:hover{
    scale: 0.9;
    transition: 2s;
}
.white11{
    position: absolute;
    width: 1999px;
    height: 460px;
    left: 1px;
    top: 3900px;
    opacity: 5;
    opacity: 5;
    filter: brightness(88%)
}
.white01{
    position: absolute;
    width: 2000px;
    height: 105px;
    left: 1px;
    top: 50px;
    opacity: 5;
    filter: brightness(80%)
}
.flow60{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 325px;
    top:  335px;
    
}
.text91 {
    top: 102px;
    font-size: 23px;
    left: 50px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
  
    
}
.text92 {
    top: 102px;
    font-size: 23px;
    left: 200px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text93 {
    top: 102px;
    font-size: 23px;
    left: 350px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text94 {
    top: 102px;
    font-size: 23px;
    left: 550px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text95 {
    top: 102px;
    font-size: 23px;
    left: 710px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text96 {
    top: 102px;
    font-size: 23px;
    left: 919px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text97 {
    top: 102px;
    font-size: 23px;
    left: 1118px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text98 {
    top: 102px;
    font-size: 23px;
    left: 1318px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text99 {
    top: 90px;
    font-size: 23px;
    left: 1505px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.text100 {
    top: 102px;
    font-size: 23px;
    left: 1705px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    
}
.fon3{
    position: absolute;
    left: 290px;
   opacity: 1;
   filter: alpha(opacity=70);
   height: 1px;
   width: 670px;
   top: 304px;
   
}    
.text81 {
    top:305px;
    font-size: 25px;
    left: 1125px;
    position: absolute;
    font-family: cursive;
    text-decoration: none;
    letter-spacing: 2px;
    color:rgb(107, 86, 66);
    border: 2px solid  rgb(192, 179, 152); padding: 1px 44px 1px;
    
}  
.fon5{
    position: absolute;
    left: 290px;
   opacity: 1;
   filter: alpha(opacity=70);
   height: 660px;
   width: 1px;
   top: 305px;
   
}  
.fon6{
    position: absolute;
    left: 1px;
   opacity: 1;
   filter: alpha(opacity=70);
   height: 350px;
   width: 250px;
   top: 1452px;
   opacity: 5;
   filter: brightness(150%);
   transform: scale(-1,1);
   filter: opacity(-150);
   
}      
.fon600{
    position: absolute;
    left: 1745px;
   opacity: 1;
   filter: alpha(opacity=70);
   height: 350px;
   width: 260px;
   top: 940px;
   opacity: 5;
   filter: brightness(150%);
   filter: opacity(-180);
   
} 
.text82 {
    top: 400px;
    font-size: 20px;
    left: 1125px;
    position: absolute;
    color: rgb(141, 118, 96);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    letter-spacing: 2px;    
}    
.text83 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1125PX;
    font-size: 23px;
    top:  500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-decoration: none;
    color:rgb(107, 86, 66);
    border: 2px solid  rgb(192, 179, 152); padding: 10px 50px 10px;
}
.text84 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1425PX;
    font-size: 23px;
    top:  500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    text-decoration: none;
    border: 5px; padding: 12px 50px 12px;
    background: rgb(217, 211, 194);
}
.text120 {
    top:408px;
    font-size: 35px;
    left: 1618px;
    position: absolute;
    color:rgb(168, 111, 104);
    text-decoration: none;
    border: 5px; padding: 0px 10px 0px;
    background: rgb(217, 211, 194);
}
.text121 {
    top:680px;
    font-size: 17px;
    left: 1125px;
    position: absolute;
    color:rgb(147, 133, 121);
    letter-spacing: 1px;
    font-family: sans-serif;
    
   
}
.fon00{
    position: absolute;
    left: 1120px;
   height: 2px;
   width: 543px;
   top: 618px;
   opacity: 5;
   filter: brightness(100%)
   
} 
.text122 {
    top:620px;
    font-size: 16px;
    left: 1125px;
    position: absolute;
    color:rgb(107, 88, 72);
    letter-spacing: 2px;
    font-family: sans-serif;
} 
.fon01{
    position: absolute;
    left: 1120px;
   height: 2px;
   width: 543px;
   top: 880px;
   opacity: 5;
   filter: brightness(100%)
}
.text123 {
    top:885px;
    font-size: 16px;
    left: 1125px;
    position: absolute;
    color:rgb(107, 88, 72);
    letter-spacing: 2px;
    font-family: sans-serif;
} 
.text124 {
    top:920px;
    font-size: 17px;
    left: 1125px;
    position: absolute;
    color:rgb(147, 133, 121);
    letter-spacing: 1px;
    font-family: sans-serif;
} 
.text125 {
    top:1085px;
    font-size: 16px;
    left: 1125px;
    position: absolute;
    color:rgb(107, 88, 72);
    letter-spacing: 2px;
    font-family: sans-serif;
} 
.fon022{
    position: absolute;
    left: 1125px;
   height: 2px;
   width: 543px;
   top: 1080px;
   opacity: 5;
   filter: brightness(100%)
}
.text126 {
    top:1125px;
    font-size: 17px;
    left: 1125px;
    position: absolute;
    color:rgb(147, 133, 121);
    letter-spacing: 2px;
    font-family: sans-serif;
} 
.text127 {
    top:1270px;
    font-size: 50px;
    left: 536px;
    position: absolute;
    color:rgb(255, 255, 255);
    letter-spacing: 1px;
    font-family:'Courier New', Courier, monospace;
} 
.buket{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 500px;
    top:  2000px;
}
.text128 {
    top:398px;
    font-size: 22px;
    left: 1465px;
    position: absolute;
    color:rgb(168, 111, 104);
    font-family: mimimi1;
}
.fon300{
    position: absolute;
    left: 290px;
   opacity: 1;
   filter: alpha(opacity=70);
   height: 1px;
   width: 670px;
   top: 965px;
   
}  
.fon500{
    position: absolute;
    left: 959px;
   opacity: 1;
   filter: alpha(opacity=70);
   height: 660px;
   width: 1px;
   top: 305px;
   
}    
.text129 {
    top:980px;
    font-size: 18px;
    left: 290px;
    position: absolute;
    color:rgb(107, 88, 72);
    letter-spacing: 2px;
    font-family: sans-serif;
}
.text150 {
    top:1020px;
    font-size: 17px;
    left: 290px;
    position: absolute;
    color:rgb(147, 133, 121);
    letter-spacing: 2px;
    font-family: sans-serif;
}
.flow30{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 275px;
    top:  1500px;
    
}
.flow40{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 800px;
    top:  1500px;
    
}
.flow50{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1320px;
    top:  1500px;
    
}
.flow30:hover{
    scale: 1.1;
    transition: 2s;
}
.flow40:hover{
    scale: 1.1;
    transition: 2s;
}
.flow50:hover{
    scale: 1.1;
    transition: 2s;
}
.tpp11{
    position: absolute;
    width: 2500px;
    height: 1000px;
    left: -500px;
    top: 1280px;
}
.white33{
    position: absolute;
    width: 1590px;
    height: 740px;
    left: 200px;
    top: 1415px;  
    
}
.text433 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 500PX;
    font-size: 23px;
    top:  1985px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text444 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1030PX;
    font-size: 23px;
    top:   1985px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text455 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 1550PX;
    font-size: 23px;
    top:   1985px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: none;
    border: 5px; padding: 10px 30px 15px;
    background: rgb(219, 198, 150);
}
.text433:hover{
    scale: 0.9;
    transition: 2s;
}
.text444:hover{
    scale: 0.9;
    transition: 2s;
}
.text455:hover{
    scale: 0.9;
    transition: 2s;
}
.text177 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top:  1900px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text188 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  1900px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text199 {
    color: rgb(111, 83, 56);
    position: absolute;
    left: 1320PX;
    font-size: 22px;
    top:  1900px;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 3px;
}
.text202 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 275PX;
    font-size: 22px;
    top:  1970px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text212 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 800PX;
    font-size: 22px;
    top:  1970px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.text222 {
    color: rgb(92, 69, 48);
    position: absolute;
    left: 1315PX;
    font-size: 22px;
    top:  1970px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.white333{
    position: absolute;
    width: 2500px;
    height: 150px;
    left: -500px;
    top: 2800px;  
}
.white101{
    position: absolute;
    width: 1999px;
    height: 460px;
    left: 1px;
    top: 2350px;
    opacity: 5;
    opacity: 5;
    filter: brightness(88%)
}
.white404{
    position: absolute;
    width: 400Px;
    height: 450px;
    left: -25px;
    top: 2225px;
    
}


.text929 {
    color: rgb(255, 243, 156);
    position: absolute;
    left: 390PX;
    font-size: 25px;
    top:  2400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
}
.text930 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 22px;
    top:  2630px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text931 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 22px;
    top:   2455px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text932 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 22px;
    top:  2540px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text933 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 20px;
    top:  2470px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text936 {
    color:rgb(255, 255, 255); 
    position: absolute;
    left: 25PX;
    font-size: 23px;
    top:  2590px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    border: 3px solid rgb(227, 227, 142); padding: 15px 30px 15px;
    border-radius: 12%;
    text-decoration: none;
}
.text934 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 390PX;
    font-size: 20px;
    top:  2550px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text935 {
    color: rgb(255, 243, 156);
    position: absolute;
    left: 1150PX;
    font-size: 25px;
    top:  2400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
 
}
.text937 {
    color: rgb(255, 243, 156);
    position: absolute;
    left: 750PX;
    font-size: 25px;
    top:  2400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 6px;
}
.text938 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 750PX;
    font-size: 20px;
    top:  2435px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}
.text939 {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 750PX;
    font-size: 20px;
    top:  2490px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-decoration: none;
}